<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <script>

    </script>

    <body>
    <h1>Aula de EJS - Aluno: </h1>

    </body>

</html>