<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
	<link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/login.css">
  </head>
  <body>

    <div class="box">
      <img src="/public/images/logo.jpg" class="logo">
      <h1 class="title" >Welcome</h1>
      <form>
        <label class="labels" for="email">E-mail</label>
        <input class="email inputs" type="text" placeholder="Enter your e-mail">
        <label class="labels" for="password">Password</label>
        <input class="password inputs" type="password" placeholder="Enter your password">
        <input class="submit" type="submit" value="Log In">
        <a class="text" href="#">Don't have An account?</a>
      </form>
    </div>
  </body>
</html>